body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: auto;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}

<!-- 
- There is 8px between the edge of the card and its content (the blue sections). (done
- There is an 8px gap between each of the blue sections inside the card. (done)
- The title of the card uses a 16px font. (done)
- There are 8px between the title text and the edge of the title section.
- The content section has 16px space on the top and bottom, and 8px on either side. (done)
- Everything inside the `.button-container` section is centered, and there is 8px padding.
- The Big Button is centered on its own line.
- The Big Button has 24px space on the sides, and 8px on top and bottom. --> (done)